In [120]:
import pandas as pd
import numpy as np

In [121]:
# columns 와 value는 사용자 입력
# df = pd.read_csv('resources/AXISX_resample.csv')
# columns = ['chip', 'wire']
# value = ['value']
df = pd.read_csv('resources/Dataset1.csv')
columns = ['Process', 'Step']
value = ['Value']
df.head()

     Machine  Process Step     Value
0  X0002441A        0    C  0.920577
1  X0002441A        0    C  1.131612
2  X0002441A        0    C  0.689192
3  X0002441A        0    C  0.014700
4  X0002441A        0    C  0.993231

In [122]:
df = df.loc[:, columns + value] #('chip', 'wire', 'value')는 사용자 입력
df.head()

   Process Step     Value
0        0    C  0.920577
1        0    C  1.131612
2        0    C  0.689192
3        0    C  0.014700
4        0    C  0.993231

In [123]:
params_list = []
for param in columns:
    df_params = df.loc[:, [param]].drop_duplicates().reset_index().drop(columns='index').transpose()
    params_list.append(df_params.values[0].tolist())
    
#df_params.head(100)
print(params_list)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299], ['C', 'A', 'R']]

In [124]:
import pandas as pd
import numpy as np
from itertools import product
from itertools import chain
import copy

parameter_combination_sets = list(product(*params_list))
print(parameter_combination_sets)

[(0, 'C'), (0, 'A'), (0, 'R'), (1, 'C'), (1, 'A'), (1, 'R'), (2, 'C'), (2, 'A'), (2, 'R'), (3, 'C'), (3, 'A'), (3, 'R'), (4, 'C'), (4, 'A'), (4, 'R'), (5, 'C'), (5, 'A'), (5, 'R'), (6, 'C'), (6, 'A'), (6, 'R'), (7, 'C'), (7, 'A'), (7, 'R'), (8, 'C'), (8, 'A'), (8, 'R'), (9, 'C'), (9, 'A'), (9, 'R'), (10, 'C'), (10, 'A'), (10, 'R'), (11, 'C'), (11, 'A'), (11, 'R'), (12, 'C'), (12, 'A'), (12, 'R'), (13, 'C'), (13, 'A'), (13, 'R'), (14, 'C'), (14, 'A'), (14, 'R'), (15, 'C'), (15, 'A'), (15, 'R'), (16, 'C'), (16, 'A'), (16, 'R'), (17, 'C'), (17, 'A'), (17, 'R'), (18, 'C'), (18, 'A'), (18, 'R'), (19, 'C'), (19, 'A'), (19, 'R'), (20, 'C'), (20, 'A'), (20, 'R'), (21, 'C'), (21, 'A'), (21, 'R'), (22, 'C'), (22, 'A'), (22, 'R'), (23, 'C'), (23, 'A'), (23, 'R'), (24, 'C'), (24, 'A'), (24, 'R'), (25, 'C'), (25, 'A'), (25, 'R'), (26, 'C'), (26, 'A'), (26, 'R'), (27, 'C'), (27, 'A'), (27, 'R'), (28, 'C'), (28, 'A'), (28, 'R'), (29, 'C'), (29, 'A'), (29, 'R'), (30, 'C'), (30, 'A'), (30, 'R'), (31, 'C'), (31, 'A'), (31, 'R'), (32, 'C'), (32, 'A'), (32, 'R'), (33, 'C'), (33, 'A'), (33, 'R'), (34, 'C'), (34, 'A'), (34, 'R'), (35, 'C'), (35, 'A'), (35, 'R'), (36, 'C'), (36, 'A'), (36, 'R'), (37, 'C'), (37, 'A'), (37, 'R'), (38, 'C'), (38, 'A'), (38, 'R'), (39, 'C'), (39, 'A'), (39, 'R'), (40, 'C'), (40, 'A'), (40, 'R'), (41, 'C'), (41, 'A'), (41, 'R'), (42, 'C'), (42, 'A'), (42, 'R'), (43, 'C'), (43, 'A'), (43, 'R'), (44, 'C'), (44, 'A'), (44, 'R'), (45, 'C'), (45, 'A'), (45, 'R'), (46, 'C'), (46, 'A'), (46, 'R'), (47, 'C'), (47, 'A'), (47, 'R'), (48, 'C'), (48, 'A'), (48, 'R'), (49, 'C'), (49, 'A'), (49, 'R'), (50, 'C'), (50, 'A'), (50, 'R'), (51, 'C'), (51, 'A'), (51, 'R'), (52, 'C'), (52, 'A'), (52, 'R'), (53, 'C'), (53, 'A'), (53, 'R'), (54, 'C'), (54, 'A'), (54, 'R'), (55, 'C'), (55, 'A'), (55, 'R'), (56, 'C'), (56, 'A'), (56, 'R'), (57, 'C'), (57, 'A'), (57, 'R'), (58, 'C'), (58, 'A'), (58, 'R'), (59, 'C'), (59, 'A'), (59, 'R'), (60, 'C'), (60, 'A'), (60, 'R'), (61, 'C'), (61, 'A'), (61, 'R'), (62, 'C'), (62, 'A'), (62, 'R'), (63, 'C'), (63, 'A'), (63, 'R'), (64, 'C'), (64, 'A'), (64, 'R'), (65, 'C'), (65, 'A'), (65, 'R'), (66, 'C'), (66, 'A'), (66, 'R'), (67, 'C'), (67, 'A'), (67, 'R'), (68, 'C'), (68, 'A'), (68, 'R'), (69, 'C'), (69, 'A'), (69, 'R'), (70, 'C'), (70, 'A'), (70, 'R'), (71, 'C'), (71, 'A'), (71, 'R'), (72, 'C'), (72, 'A'), (72, 'R'), (73, 'C'), (73, 'A'), (73, 'R'), (74, 'C'), (74, 'A'), (74, 'R'), (75, 'C'), (75, 'A'), (75, 'R'), (76, 'C'), (76, 'A'), (76, 'R'), (77, 'C'), (77, 'A'), (77, 'R'), (78, 'C'), (78, 'A'), (78, 'R'), (79, 'C'), (79, 'A'), (79, 'R'), (80, 'C'), (80, 'A'), (80, 'R'), (81, 'C'), (81, 'A'), (81, 'R'), (82, 'C'), (82, 'A'), (82, 'R'), (83, 'C'), (83, 'A'), (83, 'R'), (84, 'C'), (84, 'A'), (84, 'R'), (85, 'C'), (85, 'A'), (85, 'R'), (86, 'C'), (86, 'A'), (86, 'R'), (87, 'C'), (87, 'A'), (87, 'R'), (88, 'C'), (88, 'A'), (88, 'R'), (89, 'C'), (89, 'A'), (89, 'R'), (90, 'C'), (90, 'A'), (90, 'R'), (91, 'C'), (91, 'A'), (91, 'R'), (92, 'C'), (92, 'A'), (92, 'R'), (93, 'C'), (93, 'A'), (93, 'R'), (94, 'C'), (94, 'A'), (94, 'R'), (95, 'C'), (95, 'A'), (95, 'R'), (96, 'C'), (96, 'A'), (96, 'R'), (97, 'C'), (97, 'A'), (97, 'R'), (98, 'C'), (98, 'A'), (98, 'R'), (99, 'C'), (99, 'A'), (99, 'R'), (100, 'C'), (100, 'A'), (100, 'R'), (101, 'C'), (101, 'A'), (101, 'R'), (102, 'C'), (102, 'A'), (102, 'R'), (103, 'C'), (103, 'A'), (103, 'R'), (104, 'C'), (104, 'A'), (104, 'R'), (105, 'C'), (105, 'A'), (105, 'R'), (106, 'C'), (106, 'A'), (106, 'R'), (107, 'C'), (107, 'A'), (107, 'R'), (108, 'C'), (108, 'A'), (108, 'R'), (109, 'C'), (109, 'A'), (109, 'R'), (110, 'C'), (110, 'A'), (110, 'R'), (111, 'C'), (111, 'A'), (111, 'R'), (112, 'C'), (112, 'A'), (112, 'R'), (113, 'C'), (113, 'A'), (113, 'R'), (114, 'C'), (114, 'A'), (114, 'R'), (115, 'C'), (115, 'A'), (115, 'R'), (116, 'C'), (116, 'A'), (116, 'R'), (117, 'C'), (117, 'A'), (117, 'R'), (118, 'C'), (118, 'A'), (118, 'R'), (119, 'C'), (119, 'A'), (119, 'R'), (120, 'C'), (120, 'A'), (120, 'R'), (121, 'C'), (121, 'A'), (121, 'R'), (122, 'C'), (122, 'A'), (122, 'R'), (123, 'C'), (123, 'A'), (123, 'R'), (124, 'C'), (124, 'A'), (124, 'R'), (125, 'C'), (125, 'A'), (125, 'R'), (126, 'C'), (126, 'A'), (126, 'R'), (127, 'C'), (127, 'A'), (127, 'R'), (128, 'C'), (128, 'A'), (128, 'R'), (129, 'C'), (129, 'A'), (129, 'R'), (130, 'C'), (130, 'A'), (130, 'R'), (131, 'C'), (131, 'A'), (131, 'R'), (132, 'C'), (132, 'A'), (132, 'R'), (133, 'C'), (133, 'A'), (133, 'R'), (134, 'C'), (134, 'A'), (134, 'R'), (135, 'C'), (135, 'A'), (135, 'R'), (136, 'C'), (136, 'A'), (136, 'R'), (137, 'C'), (137, 'A'), (137, 'R'), (138, 'C'), (138, 'A'), (138, 'R'), (139, 'C'), (139, 'A'), (139, 'R'), (140, 'C'), (140, 'A'), (140, 'R'), (141, 'C'), (141, 'A'), (141, 'R'), (142, 'C'), (142, 'A'), (142, 'R'), (143, 'C'), (143, 'A'), (143, 'R'), (144, 'C'), (144, 'A'), (144, 'R'), (145, 'C'), (145, 'A'), (145, 'R'), (146, 'C'), (146, 'A'), (146, 'R'), (147, 'C'), (147, 'A'), (147, 'R'), (148, 'C'), (148, 'A'), (148, 'R'), (149, 'C'), (149, 'A'), (149, 'R'), (150, 'C'), (150, 'A'), (150, 'R'), (151, 'C'), (151, 'A'), (151, 'R'), (152, 'C'), (152, 'A'), (152, 'R'), (153, 'C'), (153, 'A'), (153, 'R'), (154, 'C'), (154, 'A'), (154, 'R'), (155, 'C'), (155, 'A'), (155, 'R'), (156, 'C'), (156, 'A'), (156, 'R'), (157, 'C'), (157, 'A'), (157, 'R'), (158, 'C'), (158, 'A'), (158, 'R'), (159, 'C'), (159, 'A'), (159, 'R'), (160, 'C'), (160, 'A'), (160, 'R'), (161, 'C'), (161, 'A'), (161, 'R'), (162, 'C'), (162, 'A'), (162, 'R'), (163, 'C'), (163, 'A'), (163, 'R'), (164, 'C'), (164, 'A'), (164, 'R'), (165, 'C'), (165, 'A'), (165, 'R'), (166, 'C'), (166, 'A'), (166, 'R'), (167, 'C'), (167, 'A'), (167, 'R'), (168, 'C'), (168, 'A'), (168, 'R'), (169, 'C'), (169, 'A'), (169, 'R'), (170, 'C'), (170, 'A'), (170, 'R'), (171, 'C'), (171, 'A'), (171, 'R'), (172, 'C'), (172, 'A'), (172, 'R'), (173, 'C'), (173, 'A'), (173, 'R'), (174, 'C'), (174, 'A'), (174, 'R'), (175, 'C'), (175, 'A'), (175, 'R'), (176, 'C'), (176, 'A'), (176, 'R'), (177, 'C'), (177, 'A'), (177, 'R'), (178, 'C'), (178, 'A'), (178, 'R'), (179, 'C'), (179, 'A'), (179, 'R'), (180, 'C'), (180, 'A'), (180, 'R'), (181, 'C'), (181, 'A'), (181, 'R'), (182, 'C'), (182, 'A'), (182, 'R'), (183, 'C'), (183, 'A'), (183, 'R'), (184, 'C'), (184, 'A'), (184, 'R'), (185, 'C'), (185, 'A'), (185, 'R'), (186, 'C'), (186, 'A'), (186, 'R'), (187, 'C'), (187, 'A'), (187, 'R'), (188, 'C'), (188, 'A'), (188, 'R'), (189, 'C'), (189, 'A'), (189, 'R'), (190, 'C'), (190, 'A'), (190, 'R'), (191, 'C'), (191, 'A'), (191, 'R'), (192, 'C'), (192, 'A'), (192, 'R'), (193, 'C'), (193, 'A'), (193, 'R'), (194, 'C'), (194, 'A'), (194, 'R'), (195, 'C'), (195, 'A'), (195, 'R'), (196, 'C'), (196, 'A'), (196, 'R'), (197, 'C'), (197, 'A'), (197, 'R'), (198, 'C'), (198, 'A'), (198, 'R'), (199, 'C'), (199, 'A'), (199, 'R'), (200, 'C'), (200, 'A'), (200, 'R'), (201, 'C'), (201, 'A'), (201, 'R'), (202, 'C'), (202, 'A'), (202, 'R'), (203, 'C'), (203, 'A'), (203, 'R'), (204, 'C'), (204, 'A'), (204, 'R'), (205, 'C'), (205, 'A'), (205, 'R'), (206, 'C'), (206, 'A'), (206, 'R'), (207, 'C'), (207, 'A'), (207, 'R'), (208, 'C'), (208, 'A'), (208, 'R'), (209, 'C'), (209, 'A'), (209, 'R'), (210, 'C'), (210, 'A'), (210, 'R'), (211, 'C'), (211, 'A'), (211, 'R'), (212, 'C'), (212, 'A'), (212, 'R'), (213, 'C'), (213, 'A'), (213, 'R'), (214, 'C'), (214, 'A'), (214, 'R'), (215, 'C'), (215, 'A'), (215, 'R'), (216, 'C'), (216, 'A'), (216, 'R'), (217, 'C'), (217, 'A'), (217, 'R'), (218, 'C'), (218, 'A'), (218, 'R'), (219, 'C'), (219, 'A'), (219, 'R'), (220, 'C'), (220, 'A'), (220, 'R'), (221, 'C'), (221, 'A'), (221, 'R'), (222, 'C'), (222, 'A'), (222, 'R'), (223, 'C'), (223, 'A'), (223, 'R'), (224, 'C'), (224, 'A'), (224, 'R'), (225, 'C'), (225, 'A'), (225, 'R'), (226, 'C'), (226, 'A'), (226, 'R'), (227, 'C'), (227, 'A'), (227, 'R'), (228, 'C'), (228, 'A'), (228, 'R'), (229, 'C'), (229, 'A'), (229, 'R'), (230, 'C'), (230, 'A'), (230, 'R'), (231, 'C'), (231, 'A'), (231, 'R'), (232, 'C'), (232, 'A'), (232, 'R'), (233, 'C'), (233, 'A'), (233, 'R'), (234, 'C'), (234, 'A'), (234, 'R'), (235, 'C'), (235, 'A'), (235, 'R'), (236, 'C'), (236, 'A'), (236, 'R'), (237, 'C'), (237, 'A'), (237, 'R'), (238, 'C'), (238, 'A'), (238, 'R'), (239, 'C'), (239, 'A'), (239, 'R'), (240, 'C'), (240, 'A'), (240, 'R'), (241, 'C'), (241, 'A'), (241, 'R'), (242, 'C'), (242, 'A'), (242, 'R'), (243, 'C'), (243, 'A'), (243, 'R'), (244, 'C'), (244, 'A'), (244, 'R'), (245, 'C'), (245, 'A'), (245, 'R'), (246, 'C'), (246, 'A'), (246, 'R'), (247, 'C'), (247, 'A'), (247, 'R'), (248, 'C'), (248, 'A'), (248, 'R'), (249, 'C'), (249, 'A'), (249, 'R'), (250, 'C'), (250, 'A'), (250, 'R'), (251, 'C'), (251, 'A'), (251, 'R'), (252, 'C'), (252, 'A'), (252, 'R'), (253, 'C'), (253, 'A'), (253, 'R'), (254, 'C'), (254, 'A'), (254, 'R'), (255, 'C'), (255, 'A'), (255, 'R'), (256, 'C'), (256, 'A'), (256, 'R'), (257, 'C'), (257, 'A'), (257, 'R'), (258, 'C'), (258, 'A'), (258, 'R'), (259, 'C'), (259, 'A'), (259, 'R'), (260, 'C'), (260, 'A'), (260, 'R'), (261, 'C'), (261, 'A'), (261, 'R'), (262, 'C'), (262, 'A'), (262, 'R'), (263, 'C'), (263, 'A'), (263, 'R'), (264, 'C'), (264, 'A'), (264, 'R'), (265, 'C'), (265, 'A'), (265, 'R'), (266, 'C'), (266, 'A'), (266, 'R'), (267, 'C'), (267, 'A'), (267, 'R'), (268, 'C'), (268, 'A'), (268, 'R'), (269, 'C'), (269, 'A'), (269, 'R'), (270, 'C'), (270, 'A'), (270, 'R'), (271, 'C'), (271, 'A'), (271, 'R'), (272, 'C'), (272, 'A'), (272, 'R'), (273, 'C'), (273, 'A'), (273, 'R'), (274, 'C'), (274, 'A'), (274, 'R'), (275, 'C'), (275, 'A'), (275, 'R'), (276, 'C'), (276, 'A'), (276, 'R'), (277, 'C'), (277, 'A'), (277, 'R'), (278, 'C'), (278, 'A'), (278, 'R'), (279, 'C'), (279, 'A'), (279, 'R'), (280, 'C'), (280, 'A'), (280, 'R'), (281, 'C'), (281, 'A'), (281, 'R'), (282, 'C'), (282, 'A'), (282, 'R'), (283, 'C'), (283, 'A'), (283, 'R'), (284, 'C'), (284, 'A'), (284, 'R'), (285, 'C'), (285, 'A'), (285, 'R'), (286, 'C'), (286, 'A'), (286, 'R'), (287, 'C'), (287, 'A'), (287, 'R'), (288, 'C'), (288, 'A'), (288, 'R'), (289, 'C'), (289, 'A'), (289, 'R'), (290, 'C'), (290, 'A'), (290, 'R'), (291, 'C'), (291, 'A'), (291, 'R'), (292, 'C'), (292, 'A'), (292, 'R'), (293, 'C'), (293, 'A'), (293, 'R'), (294, 'C'), (294, 'A'), (294, 'R'), (295, 'C'), (295, 'A'), (295, 'R'), (296, 'C'), (296, 'A'), (296, 'R'), (297, 'C'), (297, 'A'), (297, 'R'), (298, 'C'), (298, 'A'), (298, 'R'), (299, 'C'), (299, 'A'), (299, 'R')]

In [125]:
def split_into_values(df, columns, params_comb_sets):
    result_df = pd.DataFrame()

    for param_set in params_comb_sets:
        part_df = df.copy()
        for i, param in enumerate(param_set):
            part_df = part_df.loc[part_df[columns[i]] == param, :]
        part_df = part_df.reset_index().drop(columns=['index']+columns).transpose()
        result_df = result_df.append(part_df, ignore_index=True)
    return result_df[pd.notnull(result_df[0])]

In [126]:
result = split_into_values(df, columns, parameter_combination_sets)

In [127]:
print(result.values[0])

[ 0.92057714  1.13161215  0.68919208  0.01469965  0.99323096  0.65672351
  0.63202314  0.9759226   1.11149067  0.88068496  0.82432263  0.87311902
  0.58176123  0.07487685  0.4566535   0.65206479  0.58297824  0.39506849
  0.51498361  0.77879228  0.13412197  0.67856836  0.30844131  0.6434924
  1.14183669  0.71235012  1.06968091  0.7473593   0.10515832  0.16154747
  3.20550442  3.83617181  0.12612933  0.89606652  1.09102683  0.49933216
  0.64861102  0.43823711  0.49887912  0.92845052  0.25960333  0.39535784
  1.07822668  0.99569206  0.17597353  0.29377117  0.84442965  0.39622754
  0.93757605  0.64018675  1.11771344  0.61144794  3.5720353   3.48986001
  3.29823273  3.30063354  3.55064851  3.08608569  3.87433709  3.76067219
  3.85287209  3.09280022  3.49327196  3.17345364  3.43858097  3.06883657
  3.48564371  3.66648535  3.95588318  4.18079176  3.85095252  3.02450431
  4.084835    3.17008242  3.69814121  3.48338423  3.94342902  3.96614597
  3.36285496  3.77941347  4.01706022  3.68358911  6.57875498  6.198061
  6.78243992  6.99376177  7.05521368  6.49751153  6.58425089  6.3654238
  6.02598171  6.45852936  1.19113484  0.20648035  0.94188453  0.613306
  0.49833275  0.72797404  0.5385255   0.75839987  1.12409662  0.53251396
  0.74326219  0.25761897  0.50731043  0.12761573  0.42791472  1.15608735
  0.8918624   0.47120239  1.03936116  0.91298571  0.37817627  0.43172102
  0.61343616  0.34935129  0.88946415  0.05330639  0.92893627  0.59309636
  0.61866684  1.1828441  -2.25764773 -2.97288997 -2.568759   -1.96540023
 -2.89605307 -2.61594069 -2.14060589 -1.81201015 -2.24388201 -2.83336326
  1.01144757  0.54634114  0.19380646  0.05224806  0.41737033  1.18271198
  0.42683666  1.10198781  0.2873999   0.08957494  0.06016054  0.44831944
  0.75472947  0.87505397  0.33431739  0.93721025  1.08798772  0.81048819
  1.10738713  0.68610185  0.424878    0.99492342  0.38094841  1.18744213
  0.06860567  0.09532316  0.56562422  1.16268716  1.16557308  0.09559377
  0.4923072   1.0029234   0.68818192  0.87887979  0.87241889  0.30387327
  0.27756414  0.07750309  0.89072556  0.38156833]

In [128]:
result.shape

(300, 172)

In [12]:
dfdf = df.loc[:, ['chip', 'wire', 'value']]
dfdf.head(10)

    chip    wire     value
0  CHIP1  WIRE10  1.873603
1  CHIP1  WIRE10  2.015115
2  CHIP1  WIRE10  2.033436
3  CHIP1  WIRE10  1.987634
4  CHIP1  WIRE10  1.932988
5  CHIP1  WIRE10  1.971524
6  CHIP1  WIRE10  2.002796
7  CHIP1  WIRE10  1.975631
8  CHIP1  WIRE10  1.870761
9  CHIP1  WIRE10  1.691660

In [13]:
dfdf_chip = dfdf.loc[dfdf['chip']=='CHIP1', :]
dfdf_chip.head(100)

     chip    wire     value
0   CHIP1  WIRE10  1.873603
1   CHIP1  WIRE10  2.015115
2   CHIP1  WIRE10  2.033436
3   CHIP1  WIRE10  1.987634
4   CHIP1  WIRE10  1.932988
..    ...     ...       ...
95  CHIP1  WIRE10  3.159842
96  CHIP1  WIRE10  3.184164
97  CHIP1  WIRE10  2.770685
98  CHIP1  WIRE10  2.550837
99  CHIP1  WIRE10  0.938617

[100 rows x 3 columns]

In [16]:
columns = ['chip', 'wire']
dfdf_wire = dfdf_chip.loc[dfdf_chip['wire']=='WIRE1', :].reset_index().drop(columns=['index'] + columns).transpose()
dfdf_wire.tail(190)

,0,1,2,3,4,5,6,7,8,9,...,2555,2556,2557,2558,2559,2560,2561,2562,2563,2564
value,1.38621,1.474023,1.41527,1.302188,1.259229,1.298397,1.390316,1.429801,1.380208,1.275338,...,1.637646,1.203951,0.907977,0.752883,0.676757,0.647381,0.621164,0.654014,0.708029,0.819532

In [57]:
df_test = pd.DataFrame()
df_test = df_test.append(pd.DataFrame([[1, 2, 3, 4], [1,2,3,4,5,6,6,76,5,3,2,2,4,2,5423,5]]), ignore_index=True)
df_test = df_test.append(pd.DataFrame([[1, 2, 3, 4], [1,2,3,4,5,6,6,76,5,3,2,2,4,2,5423,5]]), ignore_index=True)
df_test = df_test.append(dfdf_wire, ignore_index=True)
df_test.head()

,0,1,2,3,4,5,6,7,8,9,...,2555,2556,2557,2558,2559,2560,2561,2562,2563,2564
0,1.00000,2.000000,3.00000,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.00000,2.000000,3.00000,4.000000,5.000000,6.000000,6.000000,76.000000,5.000000,3.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.00000,2.000000,3.00000,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.00000,2.000000,3.00000,4.000000,5.000000,6.000000,6.000000,76.000000,5.000000,3.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.38621,1.474023,1.41527,1.302188,1.259229,1.298397,1.390316,1.429801,1.380208,1.275338,...,1.637646,1.203951,0.907977,0.752883,0.676757,0.647381,0.621164,0.654014,0.708029,0.819532

In [5]:
lst = [chip, wire]
print(len(lst))
from itertools import chain
TEST = [[1], [2,3,4], [5], [2,3,4]]
TEST = list(chain.from_iterable(TEST))
#TEST = [element for array in TEST for element in array]
print(TEST)

2
[1, 2, 3, 4, 5, 2, 3, 4]